.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.not-found__title {
  margin: 0;
  padding: 246px 0 0;
  color: #fff;
  font-size: 140px;
  font-weight: 400;
  line-height: 169px;
}

.not-found__subtitle {
  margin: 0;
  padding: 5px 0 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
}

.not-found__button {
  margin: 0;
  padding: 184px 0 0;
  border: none;
  color: #4285F4;
  background-color: transparent;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .not-found__title {
    padding: 408px 0 0;
  }

}
@media screen and (max-width: 767px) {
  .not-found__title {
    padding: 329px 0 0;
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__subtitle {
    padding-top: 10px;
    font-size: 12px;
    line-height: 15px;
  }

  .not-found__button {
    padding-top: 284px;
    font-size: 12px;
    line-height: 15px;
  }
}