.profile {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__wrapper {
  display:flex;
  flex-direction: column;
  gap: 123px;
  margin: 0;
  padding: 74px 0 0 0;
  transition: padding 0.3s ease;
  width: 100%;
  max-width: 410px;
}

.profile__title {
  margin: 0;
  padding: 0;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__form {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.profile__form-label {
  display: flex;
  justify-content: space-between;
}

.profile__form-label:last-of-type {
  width: 100%;
  border-top: 1px solid #424242;
  padding-top: 17px;
}

.profile__form-input-title {
  color: #fff;
  font-weight: 500;
  font-size: 11px;
  line-height: normal;
}

.profile__form-input {
  padding: 0;
  width: 141px;
  height: 14px;
  flex-shrink: 0;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
  background-color: transparent;
  border: none;
}

.profile__form-input:focus,
.profile__form-input:hover {
  outline: #424242 solid 1px;
}

.profile__form-input-error {
  margin: 0;
  height: 16px;
  color: #ee3465;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 61px 0 70px 0;
  gap: 16px;
}

.profile__server-error {
  margin: 0 0 4px 0;
  padding: 0;
  color: #ff004c;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__button-edit {
  width: 100%;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  
}

.profile__button-save {
  margin: 0;
  width: 100%;
  padding: 13px 0 15px 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  border-radius: 3px;
  background-color: #3456f3;
}

.profile__button-save_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.profile__button-exit {
  width: 100%;
  padding: 0;
  color: #ee3465;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
  border: none;
}


@media screen and (max-width: 1279px) {
  .profile__wrapper {
    padding: 236px 0 0 0;
    gap: 96px;
  }

  .profile__button-wrapper {
    padding: 78px 0 269px 0;
  }
}

@media screen and (max-width: 767px) {
  .profile__wrapper {
    padding: 70px 0 0 0;
    gap: 80px;
    max-width: 260px;
  }
  
  .profile__button-wrapper {
    
  }
}