.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navigation__list {
  box-sizing: border-box;
  display: flex;
  gap: 16px;
}

.navigation__item_hidden {
  display: none;
}

.navigation__link {
  color: #FFF;
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__link_active {
  font-weight: 500;
}

@media screen and (max-width: 1201px) {
  .navigation {
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 520px;
    height: 100%;
    margin: 0;
    padding: 159px 90px 92px;
    background-color: #202020;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 2;
  }

  .navigation_active {
    right: 0;
  }


  .navigation__list {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  .navigation__link {
    max-width: 100%;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .navigation__link_active {
    padding-bottom: 4px;
    border-bottom: 2px solid #fff;
    transition: padding 0.3s ease;
  }

  .navigation__item_hidden {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    width: 100%;
    padding: 144px 10px 48px;
  }

  .navigation__list {
    top: 144px;
    gap: 24px;
  }

  .navigation__link_active {
    padding-bottom: 7px;
  }
}