.savedMovies {
  width: 100%;
}

.savedMovies_large {
  width: 100%;
  padding: 0 70px 0;
  transition: padding 0.3s ease;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .savedMovies_large {
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .savedMovies_large {
    padding: 0 10px;
  }
}