.filter {
  width: 100%;
  box-sizing: border-box;
  padding-top: 41px;
  display: flex;
  justify-content: center;
}    

.filter__label {
  display: inline-block;
  cursor: pointer;
}

.filter__checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  appearance: none;
}

.filter__slider {
  display: inline-block;
  position: relative;
  padding-left: 49px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.filter__slider:hover {
  opacity: 0.7;
}

.filter__slider::before {
  display: block;
  content: "";
  position: absolute;
  left: 1px;
  top: -1px;
  width: 36px;
  height: 20px;
  background-color: #ebebeb;
  border-radius: 20px;
  transition: 0.2s;
}

.filter__slider::after {
  display: block;
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  background-color: #f5f5f5;
  left: 2px;
  top: 1px;
  transition: 0.2s;
}

.filter__checkbox:checked + .filter__slider::before {
  background-color: #2be080;
}

.filter__checkbox:checked + .filter__slider::after {
  background-color: #fff;
  left: 19px;
}

@media screen and (max-width: 767px) {
  .search__filter {
      padding: 42px 0 0 0;
  }

  .filter__slider {
      font-size: 11px;
  }

}