.nav-tab {
  display: flex;
  background-color: #272727;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 66px;
}

.nav-tab__list {
  display: flex;
  gap: 40px;
}

.nav-tab__button {
  color: #ffffff;
  padding: 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  font-style: normal;
  line-height: 16px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .nav-tab__list {
    gap: 24px;
    padding-bottom: 2px;
  }

  .nav-tab__button {
    font-size: 11px;
  }
}
