.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  min-height: 74px;
}

.header_landing {
  background-color: #073042;
}

.header_main {
  background-color: #202020;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 44px;
  width: 100%;
  max-height: 38px;
  max-width: 1140px;
}

@media screen and (max-width: 1279px) {
  .header__wrapper {
    padding: 0 30px;
    transition: padding 0.3s ease;
  }
}

@media screen and (max-width: 767px) {
  .header__wrapper {
    padding: 0 14px;
  }
}