.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #073042;
}

.promo_large {
  width: 100%;
  min-height: 524px;
}

.promo__logo {
  padding-top: 76px;
  transition: padding 0.3s ease;
}

.promo__title {
  position: relative;
  top: -218px;
  margin: 0;
  max-width: 730px;
  min-width: 300px;
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

@media screen and (max-width: 1279px) {
  .promo {
    min-height: 784px;
  }

  .promo__logo {
    padding-top: 100px;
  }
}

@media screen and (max-width: 767px) {
  .promo__large {
    min-height: 570px;
  }

  .promo__logo {
    padding-top: 80px;
    width: 248px;
    height: 248px;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
    top: -183px;
    letter-spacing: -1.24px;
  }
}
