.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 0 10px 0;
}

.searchForm__find {
  width: 100%;
  border: none;
  max-width: 1140px;
  padding: 60px 0 70px 0;
  transition: padding 0.3s ease;
  border-bottom: 1px solid #424242;
}

.searchForm__wrapper {
  margin: 0 auto;
  background-color: #2F2F2F;
  display: flex;
  border-radius: 40px;
  padding: 6px;
}

.searchForm__input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.searchForm__input {
  width: 100%;
  padding: 0;
  margin-left: 16px;
  color: #fff;
  background-color: #2F2F2F;
  border: none;
  outline: none;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.searchForm__input:focus {
  outline: #8b8b8b solid 1px;
}
.searchForm__input:hover {
  outline: #8b8b8b solid 1px;
}

.searchForm__button-wrapper {
  display: flex;
  justify-content: flex-end;
  min-width: 80px;
  min-height: 34px;
  background-color: transparent;
}

.searchForm__button {
  margin-left: 10px;
  background-image: url(../../../images/find.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 34px;
  height: 34px;
}

@media screen and (max-width: 1279px) {
  .searchForm__find {
    padding: 80px 0 50px 0;
  }

@media screen and (max-width: 767px) {
  .searchForm__input {
    font-size: 11px;
    margin-left: 13px;
  }

  .searchForm__wrapper {
    width: calc(100% - 20px);
  }


}


}