.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
}

.about-me_size_l {
  max-height: 554px;
  width: 100%;
}

.about-me__title {
  margin: 0;
  padding: 110px 0 23px;
  border-bottom: #DADADA solid 1px;
  width: 100%;
  max-width: 1140px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}


.about-me__info {
  padding-top: 66px;
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
}

.about-me__info-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.about-me__info-title-name {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__info-subtitle-job {
  margin: 0;
  padding-top: 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.about-me__info-description {
  margin: 0;
  padding: 26px 0 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.about-me__info-link {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #fff;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-me_size_l {
    padding: 0 50px;
    box-sizing: border-box;
  }
  .about-me__title {
    padding: 90px 0 23px;
  }

  .about-me__info-container {
    max-width: 364px;
  }

  .about-me__info-title-name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__info-subtitle-job {
    padding-top: 16px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__info-description {
    padding: 20px 0 87px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 767px) {
  .about-me__info {
    padding-top: 60px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-me_size_l {
    padding: 0 14px;
    box-sizing: border-box;
    max-height: 904px;
  }

  .about-me__title {
    padding: 70px 0 28px;
    font-size: 18px;
    line-height: 22px;
  }

  .about-me__info-container {
    padding-top: 40px;
  }

  .about-me__info-title-name {
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__info-subtitle-job {
    padding-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__info-description {
    max-width: 291px;
    padding: 20px 0 40px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
  }
}