.user-profile__box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-profile__wrapper {
  border: 0px none;
  height: 32px;
  width: 100px;
}

.user-profile {
  width: 100%;
}

.user-profile__overlap-group-wrapper {
  height: 32px;
  width: 102px;
}

.user-profile__overlap-group {
  background-color: transparent;
  border: none;
  border-radius: 40px;
  height: 32px;
  position: relative;
  width: 100px;
  box-shadow: 0px 3px 14px #00000014;
}

.user-profile__text {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  left: 11px;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 53px;
  text-decoration: none;
}

.user-profile__overlap {
  background-color: #303030;
  border-radius: 50px;
  height: 26px;
  left: 71px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3px;
  width: 26px;
}

.user-profile__icon {
  height: 11px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 11px;
}